labReport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wso2" targetNamespace="http://nrh.dyndns.org/production/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://nrh.dyndns.org/production/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nrh.dyndns.org/production/">
				<xsd:complexType name="labReport">
					<xsd:sequence>
						<xsd:element name="patientDetail" type="tns:patient"></xsd:element>
						<xsd:element name="labResults" type="tns:labResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="patient">
					<xsd:sequence>
						<xsd:element name="CitizenID" type="xsd:string"></xsd:element>
						<xsd:element name="PersonNames" type="tns:personName"></xsd:element>
						<xsd:element name="Birthdate" type="xsd:date"></xsd:element>
						<xsd:element name="BirthJurisdictionCountrySubDivision" type="xsd:string"></xsd:element>
						<xsd:element name="Nationality" type="xsd:string"></xsd:element>
						<xsd:element name="Gender" type="xsd:string"></xsd:element>
						<xsd:element name="Religion" type="xsd:string"></xsd:element>
						<xsd:element name="LifeStatus" type="xsd:string"></xsd:element>
						<xsd:element name="Telephone" type="xsd:string"></xsd:element>
						<xsd:element name="Email" type="xsd:string"></xsd:element>
						<xsd:element name="HospCode" type="xsd:string"></xsd:element>
						<xsd:element name="HospitalNumber" type="xsd:string"></xsd:element>
						<xsd:element name="Age" type="xsd:string"></xsd:element>
						<xsd:element name="AdmissionNumber" type="xsd:string"></xsd:element>
						<xsd:element name="BloodTypeABO" type="xsd:string"></xsd:element>
						<xsd:element name="BloodTypeRh" type="xsd:string"></xsd:element>
						<xsd:element name="PreDiagnosis" type="xsd:string"></xsd:element>
						<xsd:element name="InsType" type="xsd:string"></xsd:element>
						<xsd:sequence></xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="personName">
					<xsd:sequence>
						<xsd:element name="Prefix" type="xsd:string"></xsd:element>
						<xsd:element name="givenName" type="xsd:string"></xsd:element>
						<xsd:element name="middleName" type="xsd:string"></xsd:element>
						<xsd:element name="familyName" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="labResult">
					<xsd:sequence>
						<xsd:element name="VisitingNumber" type="xsd:string"></xsd:element>
						<xsd:element name="LabID" type="xsd:string"></xsd:element>
						<xsd:element name="LabName" type="xsd:string"></xsd:element>
						<xsd:element name="LabDate" type="xsd:date"></xsd:element>
						<xsd:element name="WardID" type="xsd:string"></xsd:element>
						<xsd:element name="WardName" type="xsd:string"></xsd:element>
						<xsd:element name="UniversalTestID" type="xsd:integer"></xsd:element>
						<xsd:element name="UniversalTestName" type="xsd:string"></xsd:element>
						<xsd:element name="ResultLab" type="xsd:string"></xsd:element>
						<xsd:element name="UnitID" type="xsd:string"></xsd:element>
						<xsd:element name="UnitName" type="xsd:string"></xsd:element>
						<xsd:element name="ResultUniversal" type="xsd:string"></xsd:element>
						<xsd:element name="UnitUniversal" type="xsd:string"></xsd:element>
						<xsd:element name="ReferenceResult" type="xsd:string"></xsd:element>
						<xsd:element name="ReferenceUniversalTest" type="xsd:string"></xsd:element>
						<xsd:element name="labRequesters" type="tns:labRequester"></xsd:element>
						<xsd:element name="labResultDetails" type="tns:labResultDetail"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>   
			
				<xsd:complexType name="labRequester">
					<xsd:sequence>
						<xsd:element name="CitizenID" type="xsd:string"></xsd:element>
						<xsd:element name="PersonNameRequest" type="tns:personName"></xsd:element>
						<xsd:element name="Birthdate" type="xsd:date"></xsd:element>
						<xsd:element name="BirthJurisdictionCountrySubDivision" type="xsd:string"></xsd:element>
						<xsd:element name="Nationality" type="xsd:string"></xsd:element>
						<xsd:element name="Gender" type="xsd:string"></xsd:element>
						<xsd:element name="Religion" type="xsd:string"></xsd:element>
						<xsd:element name="LifeStatus" type="xsd:string"></xsd:element>
						<xsd:element name="Telephone" type="xsd:string"></xsd:element>
						<xsd:element name="Email" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>	
				<xsd:complexType name="labResultDetail">
					<xsd:sequence>
						<xsd:element name="LabNumber" type="xsd:string"></xsd:element>
						<xsd:element name="LabTestID" type="xsd:string"></xsd:element>
						<xsd:element name="UniversalTestName" type="xsd:string"></xsd:element>
						<xsd:element name="MethodID" type="xsd:string"></xsd:element>
						<xsd:element name="MethodName" type="xsd:string"></xsd:element>
						<xsd:element name="ResultTest" type="xsd:string"></xsd:element>
						<xsd:element name="ReferenceResultTest" type="xsd:string"></xsd:element>
						<xsd:element name="UnitID" type="xsd:string"></xsd:element>
						<xsd:element name="UnitName" type="xsd:string"></xsd:element>
						<xsd:element name="LabResultDate" type="xsd:date"></xsd:element>
						<xsd:element name="ResultUniversal" type="xsd:string"></xsd:element>
						<xsd:element name="ReferenceUniversal" type="xsd:string"></xsd:element>
						<xsd:element name="UnitUniversal" type="xsd:string"></xsd:element>
						<xsd:element name="labReporters" type="tns:labReporter"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>	
				<xsd:complexType name="labReporter">
					<xsd:sequence>
						<xsd:element name="CitizenID" type="xsd:string"></xsd:element>
						<xsd:element name="PersonNameReport" type="tns:personName"></xsd:element>
						<xsd:element name="Birthdate" type="xsd:date"></xsd:element>
						<xsd:element name="BirthJurisdictionCountrySubDivision" type="xsd:string"></xsd:element>
						<xsd:element name="Nationality" type="xsd:string"></xsd:element>
						<xsd:element name="Gender" type="xsd:string"></xsd:element>
						<xsd:element name="Religion" type="xsd:string"></xsd:element>
						<xsd:element name="LifeStatus" type="xsd:string"></xsd:element>
						<xsd:element name="Telephone" type="xsd:string"></xsd:element>
						<xsd:element name="Email" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>	
        </xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ImportLabRequest">
		<wsdl:part name="ImportLabRequest"
			element="tns:labReport">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ImportLabReponse">
		<wsdl:part name="ImportLabReponse" type="xsd:string">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InsertLabType">
		<wsdl:operation name="InsertLab">
			<wsdl:input message="tns:ImportLabRequest"></wsdl:input>
			<wsdl:output message="tns:ImportLabReponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InsertLabSoapBinding"
		type="tns:InsertLabType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InsertLab">
			<soap:operation
				soapAction="http://nrh.dyndns.org/production/labReport.php" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InsertLabService">
		<wsdl:port name="InsertLabPort"
			binding="tns:InsertLabSoapBinding">
			<soap:address location="http://nrh.dyndns.org/production/labReport.php"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>