listpatient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wso2" targetNamespace="http://nrh.dyndns.org/production/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://nrh.dyndns.org/production/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nrh.dyndns.org/production/">
			<xsd:element name="checkpatient">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonID"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Hospital"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="HospitalNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="AllowDate"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="VisitingNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:sequence></xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListDetails">
				<xsd:complexType>
					 <xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:patient[]" /> 
					 </xsd:restriction>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="patient">
				<xsd:sequence>
					<xsd:element name="CitizenID" type="xsd:string"></xsd:element>
					<xsd:element name="Hospital" type="xsd:string"></xsd:element>
					<xsd:element name="HospitalNumber" type="xsd:string"></xsd:element>
					<xsd:element name="VisitingNumber" type="xsd:string"></xsd:element>
					<xsd:sequence></xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
        </xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="QueryPatientRequest">
		<wsdl:part name="QueryPatientRequest"
			element="tns:checkpatient">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryPatientResponse">
		<wsdl:part name="QueryPatientResponse"
			element="tns:ListDetails">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CheckPatientType">
		<wsdl:operation name="QueryListPatient">
			<wsdl:input message="tns:QueryPatientRequest"></wsdl:input>
			<wsdl:output message="tns:QueryPatientResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReferalSoapBinding"
		type="tns:CheckPatientType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="QueryListPatient">
			<soap:operation
				soapAction="http://nrh.dyndns.org/production/listpatient_service.php" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReferalService">
		<wsdl:port name="ReferalPort"
			binding="tns:ReferalSoapBinding">
			<soap:address location="http://nrh.dyndns.org/production/listpatient_service.php"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
