refer_bg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wso2" targetNamespace="http://127.0.0.1/soap_health/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://127.0.0.1/soap_health/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://127.0.0.1/soap_health/">
			<xsd:element name="refer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonID"
							type="xsd:string">
						</xsd:element>
						<xsd:sequence></xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="referDetails">
				<xsd:complexType>
					 <xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:referHos[]" /> 
					 </xsd:restriction>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="referHos">
				<xsd:sequence>
					<xsd:element name="CitizenID" type="tns:patient"></xsd:element>
					<xsd:element name="Address" type="tns:address"></xsd:element>
					<xsd:element name="Hospital" type="xsd:string"></xsd:element>
					<xsd:element name="Organization" type="xsd:string"></xsd:element>
					<xsd:element name="Vehicle" type="tns:vehicle"></xsd:element>
					<xsd:element name="Tracking" type="xsd:string"></xsd:element>
					<xsd:element name="Route" type="xsd:string"></xsd:element>
					<xsd:element name="Oxygen" type="xsd:string"></xsd:element>
					<xsd:element name="BedType" type="xsd:string"></xsd:element>
					<xsd:element name="Speciallist" type="xsd:string"></xsd:element>
					<xsd:element name="date_refer" type="xsd:date"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="patient">
				<xsd:sequence>
					<xsd:element name="CitizenID" type="tns:persondetail"></xsd:element>
					<xsd:element name="Hospital" type="tns:hosDetail"></xsd:element>
					<xsd:element name="HospitalNumber" type="xsd:string"></xsd:element>
					<xsd:element name="AdmissionNumber" type="xsd:string"></xsd:element>
					<xsd:element name="Symtom" type="xsd:string"></xsd:element>
					<xsd:element name="BloodType" type="xsd:string"></xsd:element>
					<xsd:element name="PhisicalExamination" type="xsd:string"></xsd:element>
					<xsd:element name="FatherName" type="xsd:string"></xsd:element>
					<xsd:element name="MotherName" type="xsd:string"></xsd:element>
					<xsd:element name="SpouseName" type="xsd:string"></xsd:element>
					<xsd:element name="FirstDiagnosis" type="xsd:string"></xsd:element>
					<xsd:element name="LastDiagnosis" type="xsd:string"></xsd:element>
					<xsd:element name="Emergency" type="xsd:string"></xsd:element>
					<xsd:element name="TreatementRight" type="xsd:string"></xsd:element>
					<xsd:element name="TransferReason" type="xsd:string"></xsd:element>
					<xsd:element name="Description" type="xsd:string"></xsd:element>
					<xsd:sequence></xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="persondetail">
            	<xsd:sequence>
            		<xsd:element name="Prefix" type="xsd:string"></xsd:element>
            		<xsd:element name="GivenName" type="xsd:string"></xsd:element>
            		<xsd:element name="MiddleName" type="xsd:string"></xsd:element>
            		<xsd:element name="FamilyName" type="xsd:string"></xsd:element>
            		<xsd:element name="NameSuffix" type="xsd:string"></xsd:element>
					<xsd:element name="Gender" type="xsd:string"></xsd:element>
					<xsd:element name="Birth" type="xsd:string"></xsd:element>
					<xsd:element name="BirthPlace" type="tns:address"></xsd:element>
					<xsd:element name="Race" type="xsd:string"></xsd:element>
					<xsd:element name="Nationality" type="xsd:string"></xsd:element>
					<xsd:element name="Religion" type="xsd:string"></xsd:element>
					<xsd:element name="Living" type="xsd:string"></xsd:element>
            	</xsd:sequence>
			</xsd:complexType>
			
            <xsd:complexType name="address">
            	<xsd:sequence>
            		<xsd:element name="name" type="xsd:string"></xsd:element>
            		<xsd:element name="street" type="xsd:string"></xsd:element>
            		<xsd:element name="city" type="xsd:string"></xsd:element>
            		<xsd:element name="state" type="xsd:string"></xsd:element>
            		<xsd:element name="zip" type="xsd:decimal"></xsd:element>
            	</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="hosDetail">
            	<xsd:sequence>
            		<xsd:element name="Hospital" type="xsd:string"></xsd:element>
            		<xsd:element name="HospitalName" type="xsd:string"></xsd:element>
            		<xsd:element name="ContactPerson" type="xsd:string"></xsd:element>
            		<xsd:element name="Coordinator" type="xsd:string"></xsd:element>
            		<xsd:element name="Telephone" type="xsd:string"></xsd:element>
            		<xsd:element name="CallSign" type="xsd:string"></xsd:element>
            		<xsd:element name="Address" type="xsd:string"></xsd:element>
            	</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="vehicle">
            	<xsd:sequence>
            		<xsd:element name="VehicleID" type="xsd:string"></xsd:element>
            		<xsd:element name="VehicleType" type="xsd:string"></xsd:element>
            		<xsd:element name="Capacity" type="xsd:string"></xsd:element>
            		<xsd:element name="Fuel" type="xsd:string"></xsd:element>
            		<xsd:element name="EnergyConsumtion" type="xsd:string"></xsd:element>
            		<xsd:element name="Characteristic" type="xsd:string"></xsd:element>
            	</xsd:sequence>
			</xsd:complexType>
        
        </xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="QueryPatientRequest">
		<wsdl:part name="QueryPatientRequest"
			element="tns:refer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryPatientResponse">
		<wsdl:part name="QueryPatientResponse"
			element="tns:referDetails">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ReferalType">
		<wsdl:operation name="QueryPatient">
			<wsdl:input message="tns:QueryPatientRequest"></wsdl:input>
			<wsdl:output message="tns:QueryPatientResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReferalSoapBinding"
		type="tns:ReferalType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="QueryPatient">
			<soap:operation
				soapAction="http://127.0.0.1/soap_health/refer_service.php" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReferalService">
		<wsdl:port name="ReferalPort"
			binding="tns:ReferalSoapBinding">
			<soap:address location="http://127.0.0.1/soap_health/refer_service.php"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
