refer_full.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wso2" targetNamespace="http://nrh.dyndns.org/production/soap_disaster/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://nrh.dyndns.org/production/soap_disaster/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nrh.dyndns.org/production/soap_disaster/">
			<xsd:element name="refer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonID"
							type="xsd:string">
						</xsd:element>
						<xsd:sequence></xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="referDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientDetail" type="tns:patient">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="patient">
				<xsd:sequence>
					<xsd:element name="Name" type="tns:namedetail">
				</xsd:element>
					<xsd:element name="PersonalID" type="xsd:string"></xsd:element>
					<xsd:element name="Gender" type="xsd:string"></xsd:element>
					<xsd:element name="Birth" type="xsd:string"></xsd:element>
					<xsd:element name="BirthPlace" type="tns:address"></xsd:element>
					<xsd:element name="Race" type="tns:string"></xsd:element>
					<xsd:element name="Nationality" type="tns:string"></xsd:element>
					<xsd:element name="Religion" type="tns:string"></xsd:element>
					<xsd:element name="Living" type="tns:string"></xsd:element>
					<xsd:element name="Address" type="tns:address"></xsd:element>
					<xsd:element name="Hospital" type="tns:string"></xsd:element>
					<xsd:element name="HospitalNumber" type="tns:string"></xsd:element>
					<xsd:element name="AdmissionNumber" type="tns:string"></xsd:element>
					<xsd:element name="Symtom" type="tns:string"></xsd:element>
					<xsd:element name="BloodType" type="tns:string"></xsd:element>
					<xsd:element name="PhisicalExamination" type="tns:string"></xsd:element>
					<xsd:element name="FatherName" type="tns:string"></xsd:element>
					<xsd:element name="MotherName" type="tns:string"></xsd:element>
					<xsd:element name="SpouseName" type="tns:string"></xsd:element>
					<xsd:element name="FirstDiagnosis" type="tns:string"></xsd:element>
					<xsd:element name="LastDiagnosis" type="tns:string"></xsd:element>
					<xsd:element name="Emergency" type="tns:string"></xsd:element>
					<xsd:element name="TreatementRight" type="tns:string"></xsd:element>
					<xsd:element name="TransferReason" type="tns:string"></xsd:element>
					<xsd:element name="Description" type="tns:string"></xsd:element>
					<xsd:sequence></xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="namedetail">
            	<xsd:sequence>
            		<xsd:element name="Title" type="xsd:string"></xsd:element>
            		<xsd:element name="Name" type="xsd:string"></xsd:element>
            		<xsd:element name="FamilyName" type="xsd:string"></xsd:element>
            		<xsd:element name="GivenName" type="xsd:string"></xsd:element>
            		<xsd:element name="NameSuffix" type="xsd:string"></xsd:element>
            	</xsd:sequence>
			</xsd:complexType>
			
            <xsd:complexType name="address">
            	<xsd:sequence>
            		<xsd:element name="name" type="xsd:string"></xsd:element>
            		<xsd:element name="street" type="xsd:string"></xsd:element>
            		<xsd:element name="city" type="xsd:string"></xsd:element>
            		<xsd:element name="state" type="xsd:string"></xsd:element>
            		<xsd:element name="zip" type="xsd:decimal"></xsd:element>
            	</xsd:sequence>
			</xsd:complexType>
        
        </xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="QueryPatientRequest">
		<wsdl:part name="QueryPatientRequest"
			element="tns:refer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryPatientResponse">
		<wsdl:part name="QueryPatientResponse"
			element="tns:referDetails">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ReferalType">
		<wsdl:operation name="QueryPatient">
			<wsdl:input message="tns:QueryPatientRequest"></wsdl:input>
			<wsdl:output message="tns:QueryPatientResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReferalSoapBinding"
		type="tns:ReferalType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="QueryPatient">
			<soap:operation
				soapAction="http://nrh.dyndns.org/production/soap_disaster/refer_service.php" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReferalService">
		<wsdl:port name="ReferalPort"
			binding="tns:ReferalSoapBinding">
			<soap:address location="http://nrh.dyndns.org/production/soap_disaster/refer_service.php"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
