trunk/import.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wso2" targetNamespace="http://nrh.dyndns.org/production/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://nrh.dyndns.org/production/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nrh.dyndns.org/production/">
			<xsd:complexType name="labOrder">
				<xsd:sequence>
					<xsd:element name="HospCode" type="xsd:string"></xsd:element>
					<xsd:element name="HospitalNumber" type="xsd:string"></xsd:element>
					<xsd:element name="VisitingNumber" type="xsd:string"></xsd:element>
					<xsd:element name="CitizenID" type="xsd:string"></xsd:element>
					<xsd:element name="LabDate" type="xsd:datetime"></xsd:element>
					<xsd:element name="Description" type="xsd:string"></xsd:element>
					<xsd:element name="LabDetail" type="tns:labResult"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="labResult">
				<xsd:sequence>
					<xsd:element name="VisitingNumber" type="xsd:string"></xsd:element>
					<xsd:element name="UniversalTestID" type="xsd:integer"></xsd:element>
					<xsd:element name="UniversalTestName" type="xsd:string"></xsd:element>
					<xsd:element name="ResultLab" type="xsd:string"></xsd:element>
					<xsd:element name="UnitID" type="xsd:string"></xsd:element>
					<xsd:element name="UnitName" type="xsd:string"></xsd:element>
					<xsd:element name="ResultUniversal" type="xsd:string"></xsd:element>
					<xsd:element name="UnitUniversal" type="xsd:string"></xsd:element>
					<xsd:element name="ReferenceResult" type="xsd:string"></xsd:element>
					<xsd:element name="ReferenceUniversalTest" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>        
        </xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ImportLabRequest">
		<wsdl:part name="ImportLabRequest"
			element="tns:labOrder">
		</wsdl:part>
		<wsdl:part name="ImportLabRequest"
			element="tns:labResult">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ImportLabReponse">
		<wsdl:part name="ImportLabReponse" type="xsd:string">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InsertLabType">
		<wsdl:operation name="InsertLab">
			<wsdl:input message="tns:ImportLabRequest"></wsdl:input>
			<wsdl:output message="tns:ImportLabReponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InsertLabSoapBinding"
		type="tns:InsertLabType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InsertLab">
			<soap:operation
				soapAction="http://nrh.dyndns.org/production/lab_manage.php" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InsertLabService">
		<wsdl:port name="InsertLabPort"
			binding="tns:InsertLabSoapBinding">
			<soap:address location="http://nrh.dyndns.org/production/lab_manage.php"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>