trunk/labReportx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wso2" targetNamespace="http://nrh.dyndns.org/production/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://nrh.dyndns.org/production/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://nrh.dyndns.org/production/">
				<xsd:complexType name="labReport">
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="xml">
						<xsd:complexType mixed="true">
						<xsd:sequence>
							<xsd:any/>
						</xsd:sequence>
						</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
        </xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ImportLabRequest">
		<wsdl:part name="ImportLabRequest"
			element="tns:labReport">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ImportLabReponse">
		<wsdl:part name="ImportLabReponse" type="xsd:string">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InsertLabType">
		<wsdl:operation name="InsertLabReport">
			<wsdl:input message="tns:ImportLabRequest"></wsdl:input>
			<wsdl:output message="tns:ImportLabReponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InsertLabSoapBinding"
		type="tns:InsertLabType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InsertLabReport">
			<soap:operation
				soapAction="http://nrh.dyndns.org/production/labReport.php" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InsertLabService">
		<wsdl:port name="InsertLabPort"
			binding="tns:InsertLabSoapBinding">
			<soap:address location="http://nrh.dyndns.org/production/labReport.php"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>